.panel {
    width: 10vh;
    height: 10vh;
    text-align: center;
    vertical-align: middle;
    line-height: 10vh;
    background-color: rgb(233, 231, 231);
    border-radius: 20px 0px 20px 0px;
    border: 2.5px solid #BAFF39;
}