<div class="main-page-button">
    <button class="actionButton" [disabled]="disable">

        <div class="actionButtonText">{{text}}<br></div>

        <div *ngIf="disable">DOSTĘPNE JEDYNIE DLA ZALOGOWNAYCH UŻYTKOWNIKÓW</div>

        <fa-icon *ngIf="!disable" style="font-size: 140px;" [icon]="listIcon"></fa-icon>
        <div *ngIf="!disable" class="descriptionWrapper">
            <div class="description">
                {{description}}
            </div>
            <fa-icon style="font-size: 40px;" [icon]="downIcon"></fa-icon>
        </div>
    </button>
</div>