#header{
    border-radius: 0px 0px 50px 0px;
    background-color: #BAFF39;
    color: #6E6E6E;
    height: 70px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 40px;
    line-height: normal;
}

#popisuwa{
    top: 70px;
    height: 50px;
    width: 50px;
    background-color: #BAFF39;
    margin: 0;
    position: absolute;
}

#popisuwav2{
    height: 100%;
    width: 100%;
    border-radius: 50px 0px 0 0px;
    background-color: white;
    margin: 0;
    position: absolute;
}