#host {
    float: right;
}

#btn {
    font-size: 10px;
    padding: 8px;
    border: 0px;
    border-radius: 20px 0px 20px 0px;
    margin: 2px;
    display: flex;
}

#btn:active {
    margin: 4px;
    padding: 6px;
}