#host {
    float: right;
}

#btn {
    font-size: 20px;
    padding: 8px;
    border: 0px;
    border-radius: 20px 0px 20px 0px;
    margin: 5px;
    display: flex;
}

#btn:active {
    margin: 7px;
    padding: 6px;
}