#registerButton {
    min-width: 100px;
    display: flex;
    font-size: 25px;
    color: white;
    background-color: #6E6E6E;
    border-radius: 20px 0px 20px 0px;
    border: none;
    padding: 10px;
    min-height: 58px;
    min-width: 200px;
}

#registerButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#registerButton:active:enabled {
    padding: 8px;
    margin-bottom: 2px;
    margin-top: 2px;
    min-height: 52px;
    min-width: 198px;
}

#usernameSpinner {
    margin-top: 65px;
    min-width: 30px;
    width: 30px;
    height: 30px;
    justify-content: center;
    color: #BAFF39;
}