<div class="content">
    <form>
        <div id="title" class="line">Rejestracja</div>
        <div class="line">
            <input placeholder="Login" class="loginRegisterInput" type="text" formControlName="username">
        </div>
        <div class="lineValidationMessage">

        </div>
        <div class="line">
            <input placeholder="Hasło" class="loginRegisterInput" type="password" formControlName="password">
        </div>
        <div class="lineValidationMessage">

        </div>
        <div class="line">
            <input placeholder="Powtórz hasło" class="loginRegisterInput" type="password" formControlName="password">
        </div>
        <div class="lineValidationMessage">

        </div>
        <div class="line">
            <div id="registerButton">
                <button id="registerButton" type="submit">
                    <div>Zarejestruj się</div>
                    <!-- <div id="loginRegisterSpinner" class="spinner-border" role="status"></div> -->
                </button>
            </div>
        </div>
        <div class="lineValidationMessage"></div>
    </form>
    <div style="min-width: 30px; margin: 5px;">
    </div>
</div>
