<div class="question">
    <h1>Skala liniowa</h1>
    <form [formGroup]="questionFormGroup">
        <div style="display: flex; justify-content: space-around;">
            <div *ngFor="let option of question.options; let i=index">
                {{i+1}}. <mat-checkbox [checked]="option.checked" [(ngModel)]="option.checked" [ngModelOptions]="{standalone: true}"  id="{{option.id}}" [value]="option | json"
                    (change)="onChange($event, option)"></mat-checkbox>
            </div>
        </div>
        <div *ngFor="let option of question.options; let i=index">
            {{i+1}}. {{option.content}}
        </div>
        {{question.question}}
        <button type="reset" (click)="onReset()">Resetuj</button>
    </form>
</div>