<div class="question">
    <div style=" width: 100%; text-align: center;">
        <h1>Skala liniowa</h1>
    </div>
    <form [formGroup]="questionFormGroup">
        <div style="display: flex; justify-content: space-around;">
            <div *ngFor="let option of question.options; let i=index">
                {{i+1}}. <mat-checkbox [checked]="option.checked" [(ngModel)]="option.checked"
                    [ngModelOptions]="{standalone: true}" [value]="option | json"
                    (change)="onChange($event, option)"></mat-checkbox>
            </div>
        </div>
        <div *ngFor="let option of question.options; let i=index">
            {{i+1}}. {{option.content}}
        </div>
        <div style="margin: 10px; display: flex; justify-content: space-around; align-items: baseline;">
            <div>{{question.question}}</div>
            <button mat-raised-button class="mat-primary" type="reset" (click)="onReset()">Resetuj</button>
        </div>   
    </form>
</div>