#actionButtonWrapper {
    display: flex;
    justify-content: space-around;
}

.submitButton {
    color: #6E6E6E;
    background-color: #BAFF39;
    font-size: 20px;
    padding: 1%;
    outline: none;
    border: none;
    border-radius: 20px 0px 20px 0px;
    margin: 1%;
}

.submitButton:active {
    color: white;
    background-color: #6E6E6E;
    margin: 1.5%;
    padding: 0.5%;
    outline: none;
}

#addFormTitle {
    font-size: 40px;
    color: #6E6E6E;
    text-align: center;
    padding: 1%;
}

#formBasicInfo {
    font-size: 20px;
    color: #6E6E6E;
    text-align: center;
    padding: 1%;
}

.inputSegment {
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 50px 0px 50px 0px;
    border: 2.5px solid #BAFF39;
    background-color: rgb(233, 231, 231);
}

.inputLine {
    margin-left: 2%;
    padding: 0.5%;
    color: #6E6E6E;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.lineLabel {
    text-align: right;
}

.titleSubjectInput {
    font-size: 20px;
    text-align: center;
    outline: none;
    width: 96%;
    border-radius: 15px 0px 15px 0px;
    border: 2px solid #6E6E6E;
    color: #6E6E6E;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 1%;
    margin-bottom: 0;
    margin-left: 2%;
    margin-right: 2%;
}

.titleSubjectInput:focus{
    border-color: #BAFF39;
}