<form [formGroup]="randomFormGroup" (ngSubmit)="submitForm(randomFormGroup.value)">
    <div *ngFor="let question of formToComplete.questions">
        <app-question-bad-ui-good-ux [wholeForm]="randomFormGroup" [question]="question" [triedSubmiting]="triedSubmitingSubject"></app-question-bad-ui-good-ux>
    </div>
    <button type="sumbit">Prześlij</button>
    <div style="height: 24px; color: red;">
        <div *ngIf="(triedSubmitting | async) && touchedNotFilled()">
            Nie odpowiedziano na przynajmniej jedno pytanie
        </div>
    </div>
</form>