.tableHeaders {
    text-align: center;
    width: 20vw;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.tableContent{
    width: 20vw;
}

table, th, td {
    border: 1px solid black;
}