<div style="display: flex; justify-content: center; margin: 2vw;">
    <div style="display: flex; justify-content: center; flex-direction: column;">
        <table>
            <thead>
                <tr>
                    <th width="2vw" style="background-color: white;">
                        <div style="width: 2vw"></div>
                    </th>
                    <th width="30vw" class="tableHeaders" (click)="sort('title')">
                        <div style="width: 30vw; padding: 10px;">
                            Tytuł
                            <fa-icon
                                [icon]="(sortDirection == 'NONE' || sortedColumnName!='title') ? sortIcon : sortDirection == 'DESC' ? sortIconDesc : sortIconAsc"></fa-icon>
                        </div>
                    </th>
                    <th style="width: 10vw;" class="tableHeaders" (click)="sort('user.username')">
                        <div style="width: 10vw; padding: 10px;">
                            Autor
                            <fa-icon
                                [icon]="(sortDirection == 'NONE' || sortedColumnName!='user.username') ? sortIcon : sortDirection == 'DESC' ? sortIconDesc : sortIconAsc"></fa-icon>
                        </div>
                    </th>
                    <th style="width: 10vw;" class="tableHeaders" (click)="sort('dateTo')">
                        <div style="width: 10vw; padding: 10px;">
                            Data końcowa
                            <fa-icon
                                [icon]="(sortDirection == 'NONE' || sortedColumnName!='dateTo') ? sortIcon : sortDirection == 'DESC' ? sortIconDesc : sortIconAsc"></fa-icon>
                        </div>
                    </th>
                    <th style="width: 10vw;" class="tableHeaders" (click)="sort('dateAdded')">
                        <div style="width: 10vw; padding: 10px;">
                            Data dodania
                            <fa-icon
                                [icon]="(sortDirection == 'NONE' || sortedColumnName!='dateAdded') ? sortIcon : sortDirection == 'DESC' ? sortIconDesc : sortIconAsc"></fa-icon>
                        </div>
                    </th>
                    <th style="background-color: white; width: 10vw;"></th>
                    <th style="background-color: white; width: 15vw;"></th>
                </tr>
            </thead>
            <tbody *ngIf="isDataLoaded | async">
                <tr [ngStyle]="i%2 != 0 ? {'background-color': 'rgb(233,231,231)'} : {}" *ngFor="let form of displayedFormSnippets | 
                    paginate: {itemsPerPage: itemsPerPage, currentPage: pageNumber, totalItems: totalItems}; 
                    let i=index">
                    <td style="background-color: white; font-size: 2vh;padding: 1.5vh;">{{i+1}}</td>
                    <td class="tableContent">{{form.title}}</td>
                    <td class="tableContent">{{form.author==undefined ? "Brak" : form.author}}</td>
                    <td class="tableContent">{{form.dateTo==undefined ? "Brak": (form.dateTo | date:'dd.MM.yyyy')}}</td>
                    <td class="tableContent">{{form.dateAdded | date: 'dd.MM.yyyy'}}</td>
                    <td style="background-color: white;">
                        <div *ngIf="!form.disabled" style="display: flex; justify-content: center;">
                            <button class="actionButton">Wypełnij ankietę</button>
                        </div>
                    </td>
                    <td style="background-color: white;">
                        <div *ngIf="form.resultsAvailableForEveryone"
                            style="display: flex; justify-content: center; align-items: center;">
                            <button class="actionButton">Aktualne wyniki ankiety</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="display: flex; width: 100%">
            <div class="paginationControl" style="margin-left: 2.5vw; width: 20vw;">
                Ilość wyświetlanych formularzy:&nbsp;
                <select id="pageElements" (change)="changeAmountOfItemsPerPage($any($event.target).value)">
                    <option *ngFor="let i of [10, 20, 30, 50, 100]" [value]="i">
                        {{ i }}
                    </option>
                </select>
            </div>
            <div class="paginationControl" style="width: 39.5vw">
                <pagination-controls class="formPagination" style="margin-top: 1.5vh;" previousLabel="Poprzednia" nextLabel="Następna" (pageChange)="pageChange($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>