<div class="content">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div id="title" class="line">Logowanie</div>
        <div class="line">
            <input class="loginInput" type="text" formControlName="username">
        </div>
        <div class="lineValidationMessage" id="usernameValidationInfo">
            <span
                *ngIf="(getUsernameControl && getUsernameControl.touched && getUsernameControl.errors?.['required'])">Login
                jest wymagany</span>
        </div>
        <div class="line">
            <input class="loginInput" type="password" formControlName="password">
        </div>
        <div class="lineValidationMessage" id="passwordValidationInfo">
            <span
                *ngIf="getPasswordControl && getPasswordControl.touched && getPasswordControl.errors?.['required']">Hasło
                jest wymagane</span>
        </div>
        <div class="line">
            <div id="loginButton">
                <button id="loginButton" type="submit">
                    <div *ngIf="!(isLogging | async)">Zaloguj</div>
                    <div *ngIf="isLogging | async" id="loginSpinner" class="spinner-border" role="status"></div>
                </button>
            </div>
        </div>
        <div class="lineValidationMessage"></div>
    </form>
    <div style="min-width: 30px; margin: 5px;">
        <div *ngIf="(isLogging | async)" id="usernameSpinner" class="spinner-border" role="status"></div>
    </div>
</div>