<div class="info">
    Pliki do pobrania
</div>
<div style="display: flex; justify-content: space-around; align-items: center;">

    <button (click)="getFormStatistics()" class="downloadButton">
        Pobierz statystyki formularzy losowo generowanych
        <fa-icon [icon]="faDownload"></fa-icon>
    </button>
    <button (click)="getQuestionsStatistics()" class="downloadButton">
        Pobierz statystyki pytań w formularzach losowo generowanych
        <fa-icon [icon]="faDownload"></fa-icon>
    </button>

</div>