<div *ngIf="!(responseCame | async)" style="display: flex; justify-content: center; align-items: center; height: 85vh;">
    <div id="getFormsSpinner" class="spinner-border"></div>
</div>

<div *ngIf="responseCame | async" [ngSwitch]="getCurrentForm() | async">
    <app-random-form-bad-ui-bad-ux *ngSwitchCase="'BadUIBadUX'" [formToComplete]="badUiBadUxForm" (formSentEvent)="nextFormOrFinnish()" (screenshotMade)="addNewScreenshot($event)"></app-random-form-bad-ui-bad-ux>
    <app-random-form-bad-ui-good-ux *ngSwitchCase="'BadUIGoodUX'" [formToComplete]="badUiGoodUxForm" (formSentEvent)="nextFormOrFinnish()" (screenshotMade)="addNewScreenshot($event)"></app-random-form-bad-ui-good-ux>
    <app-random-form-good-ui-bad-ux *ngSwitchCase="'GoodUIBadUX'" [formToComplete]="goodUiBadUxForm" (formSentEvent)="nextFormOrFinnish()" (screenshotMade)="addNewScreenshot($event)"></app-random-form-good-ui-bad-ux>
    <app-random-form-good-ui-good-ux *ngSwitchCase="'GoodUIGoodUX'" [formToComplete]="goodUiGoodUxForm" (formSentEvent)="nextFormOrFinnish()" (screenshotMade)="addNewScreenshot($event)"></app-random-form-good-ui-good-ux>
</div>

<app-survey-on-random-forms *ngIf="allFormsFilled | async" [forms]="formsInFillingOrder"></app-survey-on-random-forms>