<div class="question" 
    [ngStyle]="touchedNotFilled() ? 
    {'border': '1px solid red'} : 
    touchedValid() ? 
    {'border': '1px solid #BAFF39'} : {}" [formGroup]="questionFormGroup">
    <p>{{question.question}}</p>
    <div *ngFor="let option of question.options">
        <input type="radio" [name]="question.question" [value]="option | json" (click)="onChange($event)">
        {{option.content}}
    </div>
    <div style="height: 24px; color: red;">
        <div *ngIf="touchedNotFilled()">
            Odpowiedz jest wymagana
        </div>
    </div>
</div>