<form [formGroup]="randomFormGroup" (ngSubmit)="submitForm(randomFormGroup.value)">
    <hr>
    <div *ngFor="let question of formToComplete.questions">
        <app-question-good-ui-good-ux 
            (passFormChangeFurther)="questionFilled($event)"
            [formResultChanged]="formResultChanged"
            [wholeForm]="randomFormGroup" 
            [question]="question"
            [triedSubmiting]="triedSubmitingSubject"></app-question-good-ui-good-ux>
    </div>
    <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
        <button style="height: 50px; width: 20vw; line-height: 30px; " mat-raised-button class="mat-primary" type="sumbit">
            <div style="display: flex; justify-content: center;">
                <div *ngIf="!(submitting | async)" style="font-size: 30px;">
                    Prześlij
                </div>
                <mat-icon *ngIf="submitting | async">
                    <mat-spinner color="accent" diameter="25"></mat-spinner>
                </mat-icon>
            </div>
        </button>
        <div style="height: 24px; color: red;">
            <div *ngIf="(triedSubmitting | async) && touchedNotFilled()">
                Nie odpowiedziano na przynajmniej jedno pytanie
            </div>
        </div>
    </div>
</form>