.mainContent {
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
    overflow: hidden;
    max-height: 20vw;
    border-bottom: 1px solid #6E6E6E;
}

.expandContent {
    padding: 1vh;
    font-size: 2vh;
    text-align: center;
    border-bottom: 1px solid #6E6E6E;
}