<div class="question" [formGroup]="questionFormGroup">
    <div style=" width: 100%; text-align: center;">
        <h1>Jednokrotny wybór</h1>
    </div>
    <form [formGroup]="questionFormGroup">
        <div style="display: flex; justify-content: space-around;">
            <div *ngFor="let option of question.options">
                <div style="margin: 5px; text-align: center; flex-direction: column;">
                    <div>
                        <mat-checkbox [checked]="option.checked" [(ngModel)]="option.checked"
                            [ngModelOptions]="{standalone: true}" [value]="option | json"
                            (change)="onChange($event, option)"></mat-checkbox>
                    </div>
                    <div style="text-justify: inter-word;">{{option.content}}</div>
                </div>
            </div>
        </div>
        <div style="margin: 10px; display: flex; justify-content: space-around; align-items: baseline;">
            <div>{{question.question}}</div>
            <button mat-raised-button class="mat-primary" type="reset" (click)="onReset()">Resetuj</button>
        </div>
    </form>
</div>