<div class="question" [formGroup]="questionFormGroup">
    <form>
        <h1>Lista rozwijana</h1>
        <mat-form-field>
            <mat-select [(ngModel)]="value" [ngModelOptions]="{standalone: true}" #option
                (selectionChange)="onSelect(option)">
                <mat-option selected value=""></mat-option>
                <mat-option [value]="option| json" *ngFor="let option of question.options">
                    {{option.content}}
                </mat-option>
            </mat-select>
        </mat-form-field><br>
        {{question.question}}
        <button mat-raised-button class="mat-primary" type="reset" (click)="onReset()">Resetuj</button>
    </form>
</div>