#usernameSpinner {
    margin-top: 65px;
    min-width: 30px;
    width: 30px;
    height: 30px;
    justify-content: center;
    color: #BAFF39;
}

#loginButton {
    min-width: 100px;
    display: flex;
    font-size: 25px;
    color: white;
    background-color: #6E6E6E;
    border-radius: 20px 0px 20px 0px;
    border: none;
    padding: 20px;
    line-height: normal;
    min-width: 123px;
}

#loginButton:active:enabled {
    padding: 16px;
    margin-bottom: 4px;
    margin-top: 4px;
    min-width: 115px;
}

#loginButton:disabled {
    cursor: not-allowed;
    opacity: 0.9;
}