<div class="content">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div id="title" class="line">Logowanie</div>
        <div class="line">
            <input placeholder="Login" class="loginRegisterInput" type="text" formControlName="username"
                (focus)="disableLoginError()">
        </div>
        <div class="lineValidationMessage">
            <span
                *ngIf="(getUsernameControl && getUsernameControl.touched && getUsernameControl.errors?.['required'])">Login
                jest wymagany</span>
            <span
                *ngIf="(getUsernameControl && getUsernameControl.touched && !getUsernameControl.errors?.['required'] && getUsernameControl.errors?.['usernameDoesNotExist'])">Nie
                istnieje użytkownik o podanym loginie</span>
        </div>
        <div class="line">
            <input placeholder="Hasło" class="loginRegisterInput" type="password" formControlName="password"
                (focus)="disableLoginError()">
        </div>
        <div class="lineValidationMessage">
            <span
                *ngIf="getPasswordControl && getPasswordControl.touched && getPasswordControl.errors?.['required']">Hasło
                jest wymagane</span>
        </div>
        <div class="line">
            <button id="loginButton"> 
            [disabled]="!loginForm.valid" type="submit">
                <div *ngIf="!(isLogging | async)">Zaloguj</div>
                <div *ngIf="isLogging | async" id="loadingSpinner" class="spinner-border" role="status"></div>
            </button>
        </div>
        <div class="lineValidationMessage">
            <span *ngIf="isLoggingUnsuccesful | async">Hasło nieprawidłowe</span>
        </div>
    </form>
    <div style="min-width: 30px; margin: 5px;">
        <div *ngIf="(isCheckingUsername | async)" id="usernameSpinner" class="spinner-border" role="status"></div>
    </div>
</div>