<div class="question" 
    [ngStyle]="touchedNotFilled() ? 
    {'border-left': '1px solid red', 'border-right': '1px solid red'} : 
    touchedValid() ? 
    {'border-left': '1px solid #BAFF39', 'border-right': '1px solid #BAFF39'} : {}" 
    [formGroup]="questionFormGroup">
    <p>{{question.question}}</p>
    <textarea autosize placeholder="Wpisz odpowiedź..." style="width: 100%; resize: none;" formControlName="answer"></textarea>
    <div style="height: 24px; color: red;">
        <div *ngIf="touchedNotFilled()">
            Odpowiedz jest wymagana
        </div>
    </div>
</div>
