<div 
    class="question"
    [ngStyle]="touchedNotFilled() ? 
    {'border': '1px solid red'} : 
    touchedValid() ? 
    {'border': '1px solid #BAFF39'} : {}" [formGroup]="questionFormGroup">
    <p>{{question.question}}</p>
    <select #option (blur)="this.getChosenOptionArray.markAsTouched()" (change)="onSelect(option)" *ngIf="questionFormGroup" formArrayName="chosenOptions">
        <option disabled selected style="display: none;">-- Wybierz odpowiedz --</option>
        <option [value]="option | json" *ngFor="let option of question.options">
            {{option.content}}
        </option>
    </select>
    <div style="height: 24px; color: red;">
        <div *ngIf="touchedNotFilled()">
            Odpowiedz jest wymagana
        </div>
    </div>
</div>