/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

html,
body {
    height: 100%;
}

input:focus::placeholder {
    color: transparent;
}

/*Login and registration*/
#title {
    font-size: 30px;
    color: #6E6E6E;
    padding-bottom: 20px
}

.content {
    border: solid #BAFF39;
    padding: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50px 0px 50px 0px;
}

.loginRegisterInput {
    border-radius: 20px 0px 20px 0px;
    border: solid #6E6E6E;
    color: #6E6E6E;
    min-width: 300px;
    font-size: 25px;
    text-align: center;
    outline: none;
}

.loginRegisterInput:focus {
    border: solid #BAFF39 !important;
}

.loginRegisterInput.ng-invalid.ng-touched {
    border: solid red;
}

#loginRegisterSpinner {
    margin: auto;
    width: 30px;
    height: 30px;
    color: #BAFF39;
    display: flex;
    justify-content: center;
}

.line {
    display: flex;
    justify-content: center;
}

.lineValidationMessage {
    color: red;
    font-size: 13px;
    display: flex;
    justify-content: center;
    height: 40px;
}

#mainPage{
    height: calc(100vh - 130px);
    margin-left: 50px; 
    margin-right: 50px; 
    overflow: auto;
}