.infoLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16.5vw;
    margin: 0.5vw;
}

th {
    border-radius: 20px 20px 0px 0px;
    background-color: #6E6E6E;
    color: white;
    padding: 0.2vw;
    width: 9vw;
    text-align: center;
}

.wholeContent {
    border-radius: 20px 0px 20px 0px;
    border: solid #BAFF39;
    padding: 0.5vw;
    margin: 0.5vw;
    background-color: rgb(233, 231, 231);
}