#registerButton {
    min-width: 100px;
    display: flex;
    font-size: 25px;
    color: white;
    background-color: #6E6E6E;
    border-radius: 20px 0px 20px 0px;
    border: none;
    padding: 20px;
    min-height: 50px;
    min-width: 196px;
    line-height: normal;
}

#registerButton:disabled {
    cursor: not-allowed;
    opacity: 0.9;
}

#registerButton:active:enabled {
    padding: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    min-height: 42px;
    min-width: 172px;
}

#usernameSpinner {
    margin-top: 65px;
    min-width: 30px;
    width: 30px;
    height: 30px;
    justify-content: center;
    color: #BAFF39;
}