<div class="question">
    <h1>Skala liniowa</h1>
    <form [formGroup]="questionFormGroup">
        <div style="display: flex; justify-content: space-around;">
            <div *ngFor="let option of question.options; let i=index">
                {{i+1}}. <input type="checkbox" [value]="option | json" (change)="onChange($event)">
            </div>
        </div>
        <div *ngFor="let option of question.options; let i=index">
            {{i+1}}. {{option.content}}
        </div>
        {{question.question}}
        <button type="reset" (click)="onReset()">Resetuj</button>
    </form>
</div>