<div [formGroup]="questionControls">
    <input class="questionInput" type="text" formControlName="question" placeholder="Wpisz pytanie">
    <div *ngFor="let option of getOptions.controls; let i=index">
        <div class="optionBox" [formGroup]="option">
            <input class="answerInput" type="text" formControlName="content" placeholder="Wpisz odpowiedź">
            <button class="btnDeleteSmall" (click)="removeOption(i)"><fa-icon [icon]="faMinus"></fa-icon></button>
        </div>
    </div>
    <div (click)="addOption()" class="btnSmall">Dodaj odpowiedz</div>
</div>
